@import url('https://fonts.googleapis.com/css?family=Neuton:400,700');
.content-section-heading{
  color: #1b1e21;
}

.link{ transition-duration: 200ms;
  color: #7c838c;
  display: inline-block;
  p{
    font-family: Lato;
    font-weight: bold;
    font-size: 13px;
  }
}

.link:hover{
  color: #7c5cff;
  transition-duration: 200ms;
}

p.lead{
  color: #1b1c1e;
  line-height: 130%;
  font-family: 'Montserrat Light', serif;
}
p.text{
  font-size: 22px;
  color: #36383c;
  font-family: Neuton,sans-serif;
  line-height: 32px;
}
